@import url("./style/header.css");
@import url("./style/main.css");
@import url("./style/filme.css");
@import url("./style/responsive.css"); /*css para responsividade */

:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
